src/main/mule/email-gateway-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
	
    <flow name="email-gateway-system-api-main" doc:id="d5881bea-5291-4c24-b2ea-96f9129464a1">
        <http:listener path="${api.http.path}${api.http.version}" doc:name="HTTP listner for the Email API" config-ref="email-gateway-system-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="email-gateway-system-api-config"/>
		<error-handler ref="api-kit-error-handler" />
				  
    </flow>
    <flow name="get:\health:email-gateway-system-api-config" doc:id="0aeac36f-392d-4e71-8be5-bb91935d0f4c">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Get Health Report">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  name: "Email Gateway System API",
  status: "OK",
  timestamp: (now() as DateTime) >> p('property.timezone')
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="business-error-handler" />										
    </flow>
    <flow name="post:\messages:application\json:email-gateway-system-api-config" doc:id="27c5d862-4abf-4ad5-94ef-27777ce48fdd">
        <flow-ref doc:name="impl-email-process:post-email:subflow" doc:id="5c0ee735-cb75-4f12-875b-5c5e52b635c3" name="impl-email-process:post-email:subflow"/>
		<error-handler ref="business-error-handler" />
    </flow>
</mule>
